/* Custom Fonts*/
@font-face {
    font-family: 'Custom' ;
    src: url(/fonts/Hey\ Comic.ttf)
}
@font-face {
    font-family: 'Logo';
    src: url(/fonts/magic_retro/Magic\ Retro.ttf);
}
@font-face {
    font-family: "Header-Txt";
    src: url(/fonts/rosalia/Rosalia.otf);
}

/* Adding styling that would be applied to every page*/
*{
    margin:0;
    padding: 0;
}

/*Basic Body and Header Styling*/
body{ 
    font-family: sans-serif; 
    text-align:center;
}

/*Creating a wrapper for background header section*/
.wrapper{
    width: 90%;
    margin:0 auto;

}

header {
    width:100%;
    height: 100px;
    background: white;
    position: fixed;
}

.logo{
    float:left; 
    width:30%;
    text-align: left;
    line-height:100px;
}

.logo a{
    text-decoration: none;
    font-size: 40px;
    font-family: 'Logo', serif;
    color: black;

}

/*Created nav bar and added styling to it*/
nav{
    float:right;
    line-height:100px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-family: 'Custom', serif;
    font-size: 20px;
    color: black;
    padding: 36px 10px;
    margin: 0 1px;
}

/*Created banner area*/
.banner-area{
    background-image: url(images/MainPageBackground.jpg);
    background-size:cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width:100%;
    position:fixed;
}

.banner-area :after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    display: block;
    width:100%;
    height:100%;
}

/*Adding styling for banner area header and paragraph*/
.banner-area h2{
    padding-top: 8%;
    font-size: 60px;
    color:black; 
    font-family: 'Header-Txt', sans-serif;
}

.banner-area p{
    font-size: 25px;
    font-family: 'Custom' ;
}

/*Creating main content area */
.content-area{
    width:100%;
    height: 800px;
    position: relative;
    background: white;
    top:600px;
    text-align: justify;
}

/* Adding styling to content area */
.content-area h1{
    text-align: center;
    font-size: 60px;
    color:black; 
    font-family: 'Header-Txt', sans-serif;
}

/*Adding styling to auto-type text*/
.auto-type{
    color: #c46a99 ;
}

