/*----- Custom Fonts ------*/
@font-face {
    font-family: 'Custom' ;
    src: url(/fonts/Hey\ Comic.ttf)
}
@font-face {
    font-family: 'Logo';
    src: url(/fonts/magic_retro/Magic\ Retro.ttf);
}
@font-face {
    font-family: "Header-Txt";
    src: url(/fonts/rosalia/Rosalia.otf);
}

/*----- Adding styling that would be applied to every page----*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*-----Basic Body and Header Styling----*/
body{ 
    font-family: sans-serif; 
    text-align:center;
}

/*-----Creating a wrapper for background header section-----*/
.wrapper{
    width: 90%;
    margin:0 auto;

}

header {
    width:100%;
    height: 100px;
    background: white;
    position: fixed;
    z-index: 100;
  
    
}

/*------- Styling Logo ------- */
.logo{
    float:left; 
    width:30%;
    text-align: left;
    line-height:100px;
}

.logo a{
    text-decoration: none;
    font-size: 40px;
    font-family: 'Logo', serif;
    color: black;

}

/*------- Created nav bar and added styling to it ------- */
nav{
    float:right;
    line-height:100px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-family: 'Custom', serif;
    font-size: 27px;
    color: black;
    padding: 36px 10px;
    margin: 0 1px;
    transition: .3s;
}

/*------- Adding Hover to Nav Bar Text ------- */

nav a:hover, 
nav a.active {
    color: #c46a99;

 
}
/*---- Created banner area----- */
.banner-area{
    background-image: url(images/MainPageBackground.jpg);
    background-size:cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width:100%;
    position:fixed;
}

.banner-area :after{
    content: '';
    position: fixed;
    top: 0;
    left:0;
    display: block;
    width:100%;
    height:100%;
}

/*----- Adding styling for banner area header and paragraph -------*/
.banner-area h2{
    padding-top: 8%;
    font-size: 60px;
    color:black; 
    font-family: 'Header-Txt', sans-serif;
}

.banner-area p{
    font-size: 25px;
    font-family: 'Custom' ;
}

/*------- Creating main content area ------*/
.content-area{
    width:100%;
    height: 800px;
    position: relative;
    background: white;
    top:600px;
    text-align: justify;
}


/*------- Adding styling to auto-type text --------*/
.auto-type{
    color: #c46a99;
}


/*----- About -----*/
/*----- This includes the styling of the "Skills" and "Education" sections by -----*/
/*-----  Using their relevant classnames and id to add styling to the text and the underline underneath -----*/

#about{
    padding: 80px 0;
    color: black;
}

.row{
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-title{
    text-align: center;
    color:black;
    font-size: 60px;
    font-family: 'Header-Txt', sans-serif;
    padding-bottom: 2%;
}

.about-me-text{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color:black;
    opacity: 85%;
    font-size: 22px;
    font-family: 'Custom', sans-serif;
    transition: 1s ease;

}


.about-me-text--visible{
    opacity: 1;

}


.tab-titles{
    display: flex;
    margin:20px 0 40px;
}

.tab-links{
    margin-top: 2%;
    margin-left: 26%;
    font-size: 39px;
    font-weight: 500;
    font-family: 'Header-Txt', serif;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background: #c46a99;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;

}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin:10px 0;
    font-family: 'Custom', sans-serif;
    font-size: 20px;
    margin-left: 26%;
    
}

#Education.tab-contents ul li{
    list-style: none;
    margin:10px 0;
    font-family: 'Custom', sans-serif;
    font-size: 20px;
    margin-left: 58%;
    
}


.tab-contents ul li span{
    color: #c46a99;
    font-size: 23px;
    font-family: 'Custom', sans-serif;
}

/*-----  Adding an animation so that text fades in when relevant text is clicked on. -----*/
.tab-contents{
    display: none;
    animation: fade-in .3s ease-in; 
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.tab-contents.active-tab{
    display: block;
}