/* Custom Fonts*/
@font-face {
    font-family: 'Custom' ;
    src: url(/fonts/ConsolaMono-Bold.ttf);
}
@font-face {
    font-family: 'Logo';
    src: url(/fonts/magic_retro/Magic\ Retro.ttf);
}
@font-face {
    font-family: "Header-Txt";
    src: url(/fonts/rosalia/Rosalia.otf);
}

/* Adding styling that would be applied to every page*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
}

/*Basic Body and Header Styling*/
body{ 
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: white;
    color:black;
}

#header{
    width:100%;
    height: 100vh;
    background-image: url(images/MainPageBackground.jpg);
    background-size: cover;
    background-position: center;
}


/*Styling so that responsive nav bar changes as window size changes*/
section{
    background: url(images/MainPageBackground.jpg) no repeat;
    background-size:cover;
    height: calc(100vh - 80px);
}

/* Nav Bar Styling*/
label.logo{
    color: black;
    font-size:40px;
    line-height:80px;
    padding:0 100px;
    font-family: 'Logo', sans-serif;
}

nav{
    font-family: 'Custom', sans-serif;
    background: #ffbfe0 ;
    height:80px;
    width: 100%
    
}

nav ul{
    float:right;
    margin-right:20px;
}

nav ul li{
    display: inline-block;
    line-height:80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    text-transform: uppercase; 
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,a:hover {
    background: white;
    transition: 3s;
}

.checkbtn{
    font-size: 30px;
    color:bla;
    float:right;
    line-height:80px;
    margin-right: 40px; 
    cursor: pointer;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font: size 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffbfe0 ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .3s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.hover,a.active{
        background:none;
        color: white;
    }
    #check:checked ~ ul{
        left:0;
    }

}

/* Header Text */
/* Adding auto type feature to header text and styling the colour of it.*/
.header-text{
    margin-top:20%;
    font-size: 30px;
    font-family: 'Header-Txt', sans-serif;
    text-align: center;
}

.header-text h1{
    font-size: 60px;
    margin-top:20px;
    text-align: center;
}

.auto-type{
    color: #c46a99 ;
}

/* Social media icons styling.*/
/* Margin added to header to create space between text and icons.*/
ion-icon{
    color:rgb(190, 95, 162);
    font-size: 30px;
    margin-top: 10px;
}
    
#header .social-links {
    margin-top: 10px;
}