/*----- Custom Fonts ------*/
@font-face {
    font-family: 'Custom' ;
    src: url(/assets/fnt/Hey\ Comic.ttf);
}
@font-face {
    font-family: 'Logo';
    src: url(/assets/fnt/magic_retro/Magic\ Retro.ttf);
}
@font-face {
    font-family: "Header-Txt";
    src: url(/assets/fnt/rosalia/Rosalia.otf);
}


/*-----Basic Body and Header Styling----*/
body{ 
    font-family: sans-serif; 
    text-align:center;
    position: relative;

}

html{
  overflow-y: scroll; overflow-x:hidden;

}


#header {
    width:100%;
    height: 100vh;
}


.container{
    padding: 10px 10px;
}

/*------- Styling Logo ------- */
.logo{
    float:left; 
    width:30%;
    text-align: left;
    line-height:100px;
}

.logo a{
    text-decoration: none;
    font-size: 40px;
    font-family: 'Logo', serif;
    color: black;

}

/*------- Created nav bar and added styling to it ------- */
nav{
    float:right;
    line-height:100px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-family: 'Custom', serif;
    font-size: 27px;
    color: black;
    padding: 36px 10px;
    margin: 0 1px;
    transition: .3s;
}

/*------- Adding Hover to Nav Bar Text ------- */

nav a:hover, 
nav a.active {
    color: #c46a99;


}
/*------- Header Text Styling------- */

.header-text h1{
    margin-top: 7%;
    font-size: 40px;
    font-family: "Header-Txt", serif ;
    height: 100px;
}


.header-text span{
  color: #c46a99;
}

.header-text p{
    font-size: 25px;
    font-family: "Custom", serif ;
}

/*------- Main content area ------ */

/*------- FlexBox ------- */

/*------- Grid ------- */

.flex-container{
  display: flex;
}








/*------- Styling battleship section for text ------- */

.BattleShip{
    margin-left: 5%;
    margin-top: 3%;
    border: outset;
}

.BattleShip h1{
    text-align: left;
    font-family: 'Header-Txt', serif;
    font-size: 40px;
}

.BattleShip p{
    margin-top: 1%;
    text-align: left;
    font-family: 'Custom', serif;
    font-size: 25px;
}

/*------- Styling icons ------- */
.icons{
    margin-top: 3%;
    font-size: 30px;
    text-align: right;
    
    
    }
    
  .icons a {
        color: black;
   }

    
  /* Button styling */

  .show-profile-btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
  }

 

  /* Modal overlay */
  .modal-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  /* Modal content */
  .modal-content {
    width: 1100px;
    padding: 50px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
  }

  .modal-content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .modal-content h2 {
    margin: 10px 0 5px;
    font-size: 1.5em;
  }

  .modal-content p {
    font-size: 0.9em;
  }

  /* Close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
    






/*------- Styling ASCII-Dice section  text ------- */

.ASCII-Dice{
  margin-top: 1%;
    height: 250px;
    width: 700px;
    margin-left: 1%;
    border: outset;

}

/*------- Styling battleship section for text ------- */


.ASCII-Dice{
  text-align: left;
  font-family: 'Header-Txt', serif;
  font-size: 19px;
}

.ASCII-Dice p{
  text-align: left;
  font-family: 'Custom', serif;
  font-size: 20px;
}

/*------- Styling icons ------- */
.icons-ascii{
    margin-top: 3%;
    font-size: 30px;
    text-align: right;
    
    
}

.icons-ascii a {
    color: black;
}

 /* Button styling */

 .show-profile-btnAscii {
    background-color:white;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
  }

    /* Modal overlay */
    .modal-overlayAscii {
      display: none; /* Initially hidden */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }

    /* Modal content */
    .modal-contentAscii{
      width: 700px;
      padding: 20px;
      background: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      text-align: center;
      position: relative;
    }

    .modal-contentAscii img {
      margin-top: 2%;
      width: 600px;
      height: 400px;
 
    }

    .modal-contentAscii h2 {
      margin: 10px 0 5px;
      font-size: 1.5em;
    }

    .modal-content p {
      color: #666;
      font-size: 0.9em;
    }

    /* Close button */
    .close-btnAscii {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
    }

 

  