@font-face {
  font-family: 'Custom' ;
  src: url(/assets/fnt/Hey\ Comic.ttf);
}
@font-face {
  font-family: 'Logo';
  src: url(/assets/fnt/magic_retro/Magic\ Retro.ttf);
}
@font-face {
  font-family: "Header-Txt";
  src: url(/assets/fnt/rosalia/Rosalia.otf);
}

/*----- Custom Fonts for Modals ------*/
@font-face {
  font-family: "Modal-Title";
  src: url(/assets/fnt/bebas_kai/BebasKai.ttf);
}

@font-face {
  font-family: "Modal-Subheadings";
  src: url(/assets/fnt/louis_george_cafe/Louis\ George\ Cafe.ttf);
}

@font-face {
  font-family: "Modal-Paragraphs";
  src: url(/assets/fnt/creato_display/CreatoDisplay-Bold.otf);
}



/* Ensuring the page is scrollable */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box; /* Ensures padding doesn't increase overall width */
}

/* Particle Styling */
#particles-js {
  position: absolute; /* Ensure particles are part of the layout */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the page */
  height: 100%; /* Full height of the page */
  z-index: -1; /* Make sure particles are behind the content */
  pointer-events: none; /* Ensure particles don't block interactions */
}

/* Ensuring content can scroll */
.container {
  padding: 20px;  /* Adjust this padding as needed */
  min-height: 100%;  /* Ensure container stretches fully */
  display: flex;
  flex-direction: column;  /* Allow content to flow vertically */
  position: relative;
  z-index: 1; /* Make sure content stays above the particles */
}



/*------- Styling Logo ------- */
.logo{
  float:left; 
  width:30%;
  text-align: left;
  line-height:100px;
}

.logo a{
  text-decoration: none;
  font-size: 40px;
  font-family: 'Logo', serif;
  color: black;

}

/*------- Created nav bar and added styling to it ------- */
.navbar {
  display: flex;
  font-family: 'Custom', serif;
  font-size: 25px; /* Slightly larger font size for readability */
  justify-content: space-between; /* Distribute space between logo and nav */
  align-items: center; /* Align items vertically in the center */
  padding: 10px 20px; /* Add some padding to the navbar */
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000; /* Make sure it stays on top of other elements */
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   
}

nav a {
  margin-left: 20px; /* Space between nav items */
  text-decoration: none; /* Remove underline */
  color: #333; /* Dark color for text */

  transition: color 0.3s ease, background-color 0.3s ease; 
}

/*------- Adding Hover to Nav Bar Text ------- */

nav a:hover, 
nav a.active {
  color: #fff; /* White text color on hover */
  background-color: #c46a99; /* Blue background color on hover */
  padding: 5px 10px; /* Add padding to hover effect */
  border-radius: 5px; /* Round corners of the hover effect */


}


/*------- Footer Styling Start ------- */
footer {
  display: flex;
  justify-content: space-between; /* Distribute space between logo and nav */
  background-color: rgba(255, 255, 255, 0.7);
  color: black; /* White text */
  z-index: 1000; /* Make sure it stays on top of other elements */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  font-size: 14px;
  width: 100%;
  bottom: 0;
} 

/* Footer container styling */
footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

/*------- Footer Styling End ------- */


header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.header-text h1{
  text-align: center;
  margin-top: 7%;
  font-size: 40px;
  font-family: "Header-Txt", serif ;
  height: 100px;
}


.header-text span{
color: #c46a99;
}

.header-text p{
  text-align: center;
  font-size: 25px;
  font-family: "Custom", serif ;
}

/* Flexbox layout for content */
/* Glow Effect on Flexboxes */
.flex-container- {
  display: flex;
  margin-top: 3%
}

.flex-container-2{
  display: flex;
}

.flex-container-3{
  display: flex;
}

.flex-child:hover {
  box-shadow: 0 0 25px  #c46a99; /* Glowing effect on hover */
}

/* Flex item styling */
.flex-child {
  margin-left: 1%;
  margin-top: 2%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  border: outset;
  box-shadow: 0 0 15px #c46a99; /* Glow effect */
  transition: box-shadow 0.3s ease; /* Smooth transition */
}

.flex-child h1 {
  font-family: 'Header-Txt', serif;
  font-size: 20px;
  margin-top: 1%
}

.flex-child p {
  font-family: 'Custom', serif;
  font-size: 18px;
  margin-top: 1%
}

button {
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

/* Common Modal Styling for all overlays */
.modal-overlay, 
.modal-overlayAscii, 
.modal-overlayUserApps,
.modalOverlayStringSplittingApps,
.modal-overlayStatementsNLoops,
.modal-overlayCalcStatements, 
.modal-overlayIterationApps,
.modal-overlayCalcFunc,
.modal-overlayArraysList{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Hidden by default */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 9999;
}

/* Modal content styling */
.modal-content, 
.modal-contentAscii, 
.modal-contentUserApps,
.modal-content-StringSplittingApps,
.modal-contentStatementsNLoops,
.modal-contentCalcStatements,
 .modal-contentIterationApps,
 .modal-contentCalcFunc{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  text-align: center;
  /* Flexbox for centering content inside the modal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* General Paragraph Styling */
.modal-content, 
.modal-contentAscii p, 
.modal-contentUserApps p,
.modal-content-StringSplittingApps p,
.modal-contentStatementsNLoops p,
.modal-contentCalcStatements p,
 .modal-contentIterationApps p,
 .modal-contentCalcFunc p{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  text-align: center;
  /* Flexbox for centering content inside the modal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Modal-Paragraphs', sans-serif;
}


/* Start of Specific styling for .modal-contentArraysList */
.modal-contentArraysList {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%; /* Make this smaller */
  max-width: 500px; /* Set a smaller max-width */
  text-align: center;
  /* Flexbox for centering content inside the modal */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-contentArraysList p{
  font-family: 'Modal-Paragraphs', sans-serif;
  margin-bottom: 5%;
}


/* End of Specific styling for .modal-contentArraysList */

/* Modal Header Styling*/
h1{
  font-family: 'Modal-Subheadings', sans-serif;
  margin-bottom: 5%;
}

h2{
  font-family: 'Modal-Subheadings', sans-serif;
  margin-bottom: 5%;
}


/* Close buttons for modals */
.close-btn, 
.close-btnAscii, 
.close-btn-UserApps, 
.close-btn-StringSplittingApps,
.close-btn-StatementsNLoops,
.close-btn-CalcStatements,
.close-btnIterationApps,
.close-btnCalcFunc, 
.close-btnArraysList {
  background-color: transparent;
  color: #333;
  font-size: 30px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Hover effect for close buttons */
.close-btn:hover, 
.close-btnAscii:hover, 
.close-btn-UserApps:hover,
.close-btn-StringSplittingApps:hover,
.close-btn-StatementsNLoops:hover,
.close-btn-CalcStatements:hover,
.close-btnIterationApps:hover
.close-btnCalcFunc:hover,
.close-btnArraysList:hover { 
  color: #f44336;
}

/* Profile button (the buttons to open modals) */
.show-profile-btn, 
.show-profile-btn-UserInputApps, 
.show-profile-btnAscii,
.show-profile-btn-StringSplittingApps,
.show-profile-btn-StatementsNLoops,
.show-profile-btn-CalcStatements,
.show-profile-btnIterationApps,
.show-profile-btn-CalcFunc,
.show-profile-btn-ArraysList,
.show-profile-btn-SquareDashGame {
  background-color: white;
  color: black;
  font-size: 30px;
  margin-top: 5%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.show-profile-btn:hover, 
.show-profile-btn-UserInputApps:hover, 
.show-profile-btn-StringSplittingApps:hover,
.show-profile-btn-StringSplittingApps:hover,
.show-profile-btnAscii:hover,
.show-profile-btn-StatementsNLoops:hover,
.show-profile-btn-CalcStatements:hover,
.show-profile-btnIterationApps:hover,
.show-profile-btn-CalcFunc:hover,
.show-profile-btn-ArraysList:hover,
.show-profile-btn-SquareDashGame:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.show-profile-btn:active, 
.show-profile-btn-UserInputApps:active, 
.show-profile-btnAscii:active,
.show-profile-btn-StringSplittingApps:active,
.show-profile-btn-StatementsNLoops:active,
.show-profile-btn-CalcStatements:active,
.show-profile-btnIterationApps:active,
.show-profile-btn-CalcFunc:active,
.show-profile-btn-ArraysList:active,
.show-profile-btn-SquareDashGame:active {
  background-color: #e0e0e0;
}

/* Icons styling inside buttons */
.show-profile-btn ion-icon, 
.show-profile-btn-UserInputApps ion-icon,
.show-profile-btnAscii ion-icon, 
.show-profile-btn-StringSplittingApps ion-icon,
.show-profile-btn-StatementsNLoops ion-icon,
.show-profile-btn-CalcStatements ion-icon, 
.show-profile-btnIterationApps ion-icon,
.show-profile-btn-CalcFunc ion-icon,
.show-profile-btn-ArraysList ion-icon,
.show-profile-btn-SquareDashGame ion-icon,
.icons a {
  font-size: 25px;
  color: #333;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.show-profile-btn ion-icon:hover,
.show-profile-btn-UserInputApps ion-icon:hover,
.show-profile-btnAscii ion-icon:hover, 
.show-profile-btn-StringSplittingApps ion-icon:hover,
.show-profile-btn-StatementsNLoops ion-icon:hover,
.show-profile-btn-CalcStatements ion-icon:hover, 
.show-profile-btnIterationApps ion-icon:hover,
.show-profile-btn-CalcFunc ion-icon:hover,
.show-profile-btn-ArraysList ion-icon:hover,
.show-profile-btn-SquareDashGame ion-icon:hover,
.icons a:hover {
  color: grey; 
  transform: scale(1.3); 
}




/* Modal Overlay when visible */
.modal-overlay.show, 
.modal-overlayAscii.show, 
.modal-overlayUserApps.show,
.modalOverlayStringSplittingApps.show,
.modal-overlayCalcStatements.show,
.modal-overlayCalcFunc.show,
.modal-overlayArraysList.show {
  display: flex;
}

/* Modal content animation */
.modal-overlay .modal-content, 
.modal-overlayAscii .modal-contentAscii, 
.modal-overlayUserApps .modal-contentUserApps,
.modalOverlayStringSplittingApps .modal-content-StringSplittingApps,
.modal-overlayStatementsNLoops .modal-contentStatementsNLoops,
.modal-overlayCalcStatements .modal-contentCalcStatements,
.modal-overlayIterationApps  .modal-contentIterationApps,
.modal-overlayCalcFunc .modal-contentCalcFunc, 
.modal-overlayArraysList .modal-contentArraysList{
  animation: modalIn 0.3s ease-in-out;
}



/* Optional: Modal fade-in effect */
@keyframes modalIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



/*Styling for all label text*/
label{
  font-size: 25px;
  font-family: 'Modal-Title', sans-serif;
  margin-bottom: 10px; /* Add some space between label and input */
  display: block
}



/*Individual Modal Styling/

/* BattleShip Modal Styling Start */
/* Game Info */
#game-info {
  margin-bottom: 20px;
}


#game-info span {
  color: black
}

/* Grid Container */
#grid-container {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(10, 30px);
}



#input-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100px;
  margin-bottom: 10px;
}

#input-container input:focus {
  border-color: #c46a99;
  outline: none;
}

/* Shoot Button */
#shoot-button {
  background-color: #c46a99;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Message */
#message {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #dc3545; /* Red for error messages, or change dynamically */
}

#input-container {
  width: 100%;
}

/* BattleShip Modal Styling End */

/* ASCII Art Container styling start*/
/* ASCII Art Container */
#ascii-art-container {
  padding-top: 20px;
}


#ascii-output{
  font-family: "Courier New", monospace;
  font-size: 16px;

}

/* ASCII Art Container styling end*/



/*User Input Apps styling Start*/

/* Input Fields */
.UserInputLbl {
  font-size: 21px;
  margin-bottom: 5px;
  color: #333;
}

input[type="number"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="number"]:focus {
  border-color:#c46a99;
  outline: none;
}

/* Calculate Button */
#calculateBtn {
  background-color:  #c46a99;
  font-family: 'Custom', sans-serif;
  font-size: 21px;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}


/* Output Area */
#output {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/*User Input Apps styling End*/



/*String Splitting styling Start*/



.SplitNameTitle{
  font-size: 30px;
  font-family: 'Header-txt', sans-serif;

}

.splitNamePara{
  font-size: 21px;
  font-family: 'Custom', sans-serif;
  
}
/* Input Fields */
.input[type="text"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="text"]:focus {
  border-color: #c46a99;
  outline: none;
}

/* Split Name Button */
#splitNameButton {
  background-color:#c46a99;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}



/* Display Forename and Surname */
#forename, #surname {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-top: 15px;
}

/* Error Message */
#errorMsgStringSplitting {
  font-size: 16px;
  color: red;
  margin-top: 10px;
}



/*String Splitting styling End*/


/*Calc Statements Styling Start*/

/* Start Button */
#startBtn {
  background-color: #c46a99;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}


/* Output Message */
#outputFib {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 4px;
  border: 1px solid #ccc;
}


/*Calc Statements Styling End*/


/*Iteration Apps Styling Start*/

/* Gamertag Input */
#gamertagInput {
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

#gamertagInput:focus {
  border-color:  #c46a99;
  outline: none;
}

/* Submit Button */
.submit-btn {
  background-color:  #c46a99;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/*Iteration Apps Styling End*/